<a href="https://colab.research.google.com/github/JrnJsph4/azure/blob/main/Python_winter_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello python Hello python")

Hello python Hello python

In [ ]:
a=3  #a is a variable
b=5
c=a+b #c=3+5
print(c)
print(id(a)) #id function used to find the address or memmory location
print(type(b))

8
131939888038192
<class 'int'>

In [ ]:
#immutable - value cannot be changed
a=3
b=5
print(a)
print(id(a))
a=30
print(a)
print(id(a))
#float
x=3.5
print(type(x))

#complex
b=3+5j
print(type(b))

#string
abc=' learn python'
print(abc)
print(id(abc))
#boolean   True 1,False 0
y=True  #False
print(y)
print(type(y))

3
131939888038192
30
131939888039056
<class 'float'>
<class 'complex'>
 learn python
131938562560624
True
<class 'bool'>

In [ ]:
# Tuple
t=(10,40,6,89,6.8,"Python") #enclose within (),differnt data type seperated by , ordered datatype
print(t)
print(t[0]) #t[index position]
print(t[2])
print(t[4])
t[2]=60 #immutable

(10, 40, 6, 89, 6.8, 'Python')
10
6
6.8

TypeError: 'tuple' object does not support item assignment

In [ ]:
#List
l=[2,5,7,7.9,"Python"] #enclosed within [], differnt data type seperated by , ordered datatype
print(l)
print(l[2])
print(l[4])
l[2]=70 #mutable
print(l)

[2, 5, 7, 7.9, 'Python']
7
Python
[2, 5, 70, 7.9, 'Python']

In [ ]:
#Dictionary
d={'name':'abc','age':20} # enclosed within {}, item sperated by , key : value pair
print(d)
print(d.keys())
print(d.values())

{'name': 'abc', 'age': 20}
dict_keys(['name', 'age'])
dict_values(['abc', 20])

In [ ]:
s={3,4,7,88,4,3,7,90,561,1,45,"Python",True,0,False}  #enclosed within {}, differnt data type seperated by , unordered, unique element
print(s)

{0, 1, 3, 4, 'Python', 7, 45, 561, 88, 90}

In [ ]:
#Operators
a=10
b=20
print(a+b)
print(a-b)
print(b-a)
print(a*b)
print(2*8)
print(10/3)
print(100/5) # '/' with decimal point
# % operator - remainder
print(10%3)
print(14%3)
print(12%3)
print("--")
print(23456%10) # any number % 10 will give last digit
print(456787%100) # any number % 100 will give last 2 digits
print(340877%1000) # % 1000 will give last 3 digits

30
-10
10
200
16
3.3333333333333335
20.0
1
2
0
--
6
87
877

In [ ]:
print(2**4) #2x2x2x2 exponent operator
print(3**3) #3x3x3
print(5**6) #5x5x5x5x5x5
print("-----")
# floor division - quotient
print(14//3)
print(15//2)
print(765546//10) #  any number // 10 will remove last digit
print(754//100) # any number // 100 will remove last 2 digits
print(764643//1000) # any number // 1000 will remove last 3 digits

16
27
15625
-----
4
7
76554
7
764

In [ ]:
#Relational operators always return true or false
print(3==3)
print(4==8)
print(3!=9) #! is not

print("-----")
a=9
b=20
print(a>b)
print(a!=b)
print(5<=20)
print(20>=20)

True
False
True
-----
False
True
True
True

In [ ]:
# membership operator -  in , not in  returns true or false

l=[1,2,3,4,5]
print(10 in l)
print(3 in l)
print(90 in l)
print(77 not in l)
print(4 not in l)
print('----------------------')
l1=['python','Java', 'html',99,34]
print(99 in l1)
print('Java' in l1)
print('Python' in l1) #case sensitive
print('java' not in l1)

False
True
False
True
False
----------------------
True
True
False
True

In [ ]:
# logical opertaors - and, or, not
# true and true = true, all other combinations are false   and
print(3==3 and 2==2)
print(3<8 and 5>9)
print(3!=3 and 9>3)
print(9<5 and 5<2)
print('----------------------')
# false or false = false, all other combinations are true
print(3==3 or 2==2)
print(3<8 or 5>9)
print(3!=3 or 9>3)
print(9<5 or 5<2)
print('----------------------')
#not
print(not 3==3)
print(not 9>3)
print(not 5<3)

True
False
False
False
----------------------
True
True
True
False
----------------------
False
False
True

In [ ]:
# identity operator - is , is not (checks if the address or memory loaction of the variables are equal or same)
a=100
b=100
print(id(a))
print(id(b))
print(a is b) #memory is same
print(a==b)

l1=[10,20,30]
l2=[10,20,30]
print(id(l1))
print(id(l2))
print(l1==l2)
print(l1 is l2) #memory location is not same

134939547438416
134939547438416
True
True
134939132762816
134939115104896
True
False

In [ ]:
#String
s="Python sample string here"
print(s[0])
print(s[3])
print(s[7])
print(s[6])
print(s[-1])
print(s[-2])

print(s[1:5]) #ytho
print(s[3:8]) #hon s
print(s[6:11]) # samp
print(s[:7]) #Python
print(s[7:]) #sample string here
print(s[0:9:2])
print(s[::-1]) #reverse of the string

P
h
s

e
r
ytho
hon s
 samp
Python
sample string here
Pto a
ereh gnirts elpmas nohtyP

In [ ]:
s="python SaMple string Here"
print(s*7) #repeat the string
print(s[0:6] + " änd Java " + s[14:20]) #concatenation or combining strings
s="python SaMple string Here"
print("string" in s)
print(s.upper()) #all upper case
print(s.lower()) #all lower case
print(s.capitalize()) #Only first character is capital
print(s.title()) #first character of every word is capital, others small

sample="PYTHON SAMPLE STRING HERE"
print(sample.isupper())
print(sample.islower())
print(sample.istitle())

python SaMple string Herepython SaMple string Herepython SaMple string Herepython SaMple string Herepython SaMple string Herepython SaMple string Herepython SaMple string Here
python änd Java string
True
PYTHON SAMPLE STRING HERE
python sample string here
Python sample string here
Python Sample String Here
True
False
False

In [ ]:
#split and join

x="HTML@ CSS@ JAVA@ Python"
l=x.split("@")
print(l)

x1=("@@@").join(l)
print(x1)

['HTML', ' CSS', ' JAVA', ' Python']
HTML@@@ CSS@@@ JAVA@@@ Python

In [ ]:
x="HTML, CSS, JAVA, Python"
print(x.index("Python")) #gives the index position of first character of the string passed
print(x[17])
# print(x.index("html")) #will throw error if the string passed is not present
print(x.find("Python"))
print(x.find("html")) #will not throw error if the string passed is not present

17
P
17
-1

In [ ]:
x="HTML, CSS, JAVA, Python, HTML, HTML"
x1=x.replace("HTML,","ABC")
print(x1)
print(x.count("HTML"))
print(x.count("abc"))
print(x.count("HTML",10,len(x)))

ABC CSS, JAVA, Python, ABC HTML
3
0
2

In [ ]:
#tuples - immutable
t=(1,2,3,4,5,5.6,"Python",3,3,3)
print(t[0])
print(t[6])
print(t[1:6]) #2, 3, 4, 5, 5.6
print(t[:6])
print(t[3:])
print(t.index(3))
print(t.count(3))

1
Python
(2, 3, 4, 5, 5.6)
(1, 2, 3, 4, 5, 5.6)
(4, 5, 5.6, 'Python', 3, 3, 3)
2
4

In [ ]:
t=(1,2,3,4,5,5.6,"Python",3,3,3)
print(len(t))
print(t*3)
print(20 in t)
print(t[::-1]) #reverse of tuple

10
(1, 2, 3, 4, 5, 5.6, 'Python', 3, 3, 3, 1, 2, 3, 4, 5, 5.6, 'Python', 3, 3, 3, 1, 2, 3, 4, 5, 5.6, 'Python', 3, 3, 3)
False
(3, 3, 3, 'Python', 5.6, 5, 4, 3, 2, 1)

In [ ]:
t=(4,7,3,56,76,34,89)
print(sorted(t))
l=list(t) #tuple to list
print(l)
t1=tuple(l) #list to tuple
print(t1)

[3, 4, 7, 34, 56, 76, 89]
[4, 7, 3, 56, 76, 34, 89]
(4, 7, 3, 56, 76, 34, 89)

In [ ]:
#List -  mutable
l=[3,6,8,9,45,67]
print(l[3]) #9
print(l[2:6]) # 8,9,45,67
print(l[:4]) #3,6,8,9
print(l[3:]) #9,45,67
print(l[::-1]) #67,45,9,8,6,3

9
[8, 9, 45, 67]
[3, 6, 8, 9]
[9, 45, 67]
[67, 45, 9, 8, 6, 3]

In [ ]:
l=[3,6,8,9,45,67,45]
l[2]=80
l.append(100) # add one element to the end of the list
l.append(200)
print(l)
l.append(300)
print(l)
print('----------------------')
l.extend([50,60,70,80,90]) # any number of elements to the end of the list
print(l)

l.insert(3,1000) #inserting and shifting elements to right
l.insert(8,2000)
print(l)
l[3]=3000 #replacing
print(l)

l.pop() #last element
print(l)
r=l.pop(3) #removing element in 3rd index position
print(l)
print(r) #printing the removed element

l.remove(45) #we mention the value in remove() and not the index position
print(l) #only one value will be removed
l.remove(45)
print(l)

l.clear() #remove all the elements
print(l)
# del l
print(l)

[3, 6, 80, 9, 45, 67, 45, 100, 200]
[3, 6, 80, 9, 45, 67, 45, 100, 200, 300]
----------------------
[3, 6, 80, 9, 45, 67, 45, 100, 200, 300, 50, 60, 70, 80, 90]
[3, 6, 80, 1000, 9, 45, 67, 45, 2000, 100, 200, 300, 50, 60, 70, 80, 90]
[3, 6, 80, 3000, 9, 45, 67, 45, 2000, 100, 200, 300, 50, 60, 70, 80, 90]
[3, 6, 80, 3000, 9, 45, 67, 45, 2000, 100, 200, 300, 50, 60, 70, 80]
[3, 6, 80, 9, 45, 67, 45, 2000, 100, 200, 300, 50, 60, 70, 80]
3000
[3, 6, 80, 9, 67, 45, 2000, 100, 200, 300, 50, 60, 70, 80]
[3, 6, 80, 9, 67, 2000, 100, 200, 300, 50, 60, 70, 80]
[]
[]

In [ ]:
l=[3,56,23,89,45,90]
l.sort() #ascending order
print(l)
print(l[::-1])
l.sort(reverse=True)
print(l)

print(l.index(56))
print(l.count(89))

l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2)
print(l2+l1)

[3, 23, 45, 56, 89, 90]
[90, 89, 56, 45, 23, 3]
[90, 89, 56, 45, 23, 3]
2
1
[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8, 1, 2, 3, 4]

In [ ]:
#dictionaries - mutable
d={"emp_id":101,"name":"abc"}
print(d)
d["email"]="abc@gamil.com"
print(d)

print(d["emp_id"]) #here we give the key and get the value as result
# print(d["contact"]) # Will throw error if the key is not present

print(d.get("emp_id")) #here we give the key and get the value as result
print(d.get("contact")) # Will not throw error even if the key is not present, will return None

{'emp_id': 101, 'name': 'abc'}
{'emp_id': 101, 'name': 'abc', 'email': 'abc@gamil.com'}
101
101
None

In [ ]:
l1=[1,2,3,4,5,9]
l2=[1,4,9,16,25]
d=dict(zip(l2,l1))
print(d)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [ ]:
d1={1:1,2:4,3:9,4:16}
d2={5:25,6:36,7:49}
d1.update(d2)
print(d1)
print(d2)
d3={1:1,2:4,3:9,4:16}
d4={5:25,6:36,7:49}
d4.update(d3)
print(d3)
print(d4)

r=d4.pop(7) #we mention the key
print(d4)
print(r) #value popped
d4.popitem() #remove last key value pair
print(d4)
d4.clear()
print(d4)
# del d4
print(d4)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16}
{5: 25, 6: 36, 7: 49, 1: 1, 2: 4, 3: 9, 4: 16}
{5: 25, 6: 36, 1: 1, 2: 4, 3: 9, 4: 16}
49
{5: 25, 6: 36, 1: 1, 2: 4, 3: 9}
{}
{}

In [ ]:
#sets - mutable
s={10,20,30,40}
s.add(60)
print(s)


s1={10,20,40,60,70,90,30,30,110}
s2={10,90,50,40,100,110,100}
print(s1)
print(s2)

s3=s1.union(s2) # unique values from both the sets
print(s3)

s4=s1.intersection(s2) #values common in both sets
print(s4)

s5=s1.difference(s2) # values in s1 but not in s2
print(s5)

s6=s2.difference(s1) # values in s2 but not in s1
print(s6)

s7=s1.symmetric_difference(s2) # returns the non-common elements of both sets
print(s7)

{40, 10, 20, 60, 30}
{70, 40, 10, 110, 20, 90, 60, 30}
{50, 100, 90, 40, 10, 110}
{100, 70, 40, 10, 110, 50, 20, 90, 60, 30}
{40, 90, 10, 110}
{20, 30, 70, 60}
{50, 100}
{100, 70, 50, 20, 60, 30}

In [ ]:
l=[1,2,3,4,455,4,23,2,1,6,7,8,9,5,4,3]
s=set(l)
print(s)
l1=list(s)
print(l1)

{1, 2, 3, 4, 5, 6, 455, 7, 8, 9, 23}
[1, 2, 3, 4, 5, 6, 455, 7, 8, 9, 23]

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
print(type(a))
print(a+b)

Enter a number3
Enter a number7
<class 'int'>
10

In [ ]:
#Write a program to input the side of a square and print its area and perimeter
#area=s*s
#perimeter=4*s
s=int(input("Enter the side of square"))
area=s*s
perimeter=4*s
print("Area of square=",area)
print("Perimeter of square=",perimeter)

Enter the side of square100
Area of square= 10000
Perimeter of square= 400

In [ ]:
# WAP to enter a number check if it is greater than 100.
n=int(input("enter a number"))
if n>100:
  print(n, "ïs greater than 100")
else:
  print(n, "is less than 100")
print("Thankyou")

enter a number5645
5645 ïs greater than 100
Thankyou

In [ ]:
# WAP to input 2 numbers and print the largest
# WAP to input 2 numbers and print the largest
n=int(input("Enter a number"))
m=int(input("Enter another numeber"))
if n>m:
  print(n)
else:
  print(m)

Enter a number45
Enter another numeber54
54

In [ ]:
# WAP to input a number and check if it is a 3 digit number or not
n=int(input("Enter a number"))
if n>99 and n<1000:
  print("3 digit")
else:
  print("Not 3 digit")

Enter a number876976
Not 3 digit

In [ ]:
# WAP to input a number and check if it is odd or even
# if a number is completely divisible by 2 - even -divide any nymber by 2, remainder is 0
# odd - divide any nymber by 2, remainder is 1
n=int(input("Enter a number"))
if n%2==0:
  print("Even")
else:
  print("Odd")

Enter a number65
Odd

In [ ]:
# WAP to input a number and check if it is odd or even
# if a number is completely divisible by 2 - even -divide any nymber by 2, remainder is 0
# odd - divide any nymber by 2, remainder is 1
n=int(input("Enter a number"))
if n%2!=0:
  print("Odd")
else:
  print("Even")

Enter a number56
Even

In [ ]:
# WAP to input a number and check if it is odd or even
# if a number is completely divisible by 2 - even -divide any nymber by 2, remainder is 0
# odd - divide any nymber by 2, remainder is 1
n=int(input("Enter a number"))
if n%2==1:
  print("Odd")
else:
  print("Even")

Enter a number56
Even

In [ ]:
#Write a program to input a number and check if it is positive, negative or zero
n=int(input("Enter a number"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("zero")

Enter a number0
zero

In [ ]:
for i in range(5): # 0-4
  print("Hai")
  print(i)

Hai
0
Hai
1
Hai
2
Hai
3
Hai
4

In [ ]:
for i in range(10,100):
  print(i,end=",")
print("\n") #bring the cursor to the next line
for i in range(1,100):
  if(i%2==0):
    print(i, end=",")

print("\n") #bring the cursor to the next line
for i in range(2,101,2):
  print(i,end=",")

10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
# WAP print the sum of 1st 10 number (1 to 10)
sum=0
for i in range(1,11):
  sum=sum+i #0+1=1+2=3+3=6
print(sum)

55

In [ ]:
# WAP print the product of 1st 10 number (1 to 10)
# WAP print the sum of 1st 10 number (1 to 10)
sum=1
for i in range(1,11):
  sum=sum*i #0+1=1+2=3+3=6
print(sum)

3628800

In [ ]:
#WAP to input a number and print the factors of it.
#6=1,2,3,6
#8=1,2,4,8
n=int(input("Enter a number"))
for i in range(1,n+1):
  if n%i==0:
    print(i, end=" ")

Enter a number1000
1 2 4 5 8 10 20 25 40 50 100 125 200 250 500 1000

In [ ]:
#WAP to input a number and check if it is prime or not
#3, 7, 9, 11
# it will have only 2 factors
count=0
n=int(input("Enter a number"))
for i in range(1,n+1):
  if n%i==0:
   count=count+1
if count==2:
  print("Prime")
else:
  print(" not Prime")

Enter a number89
Prime

In [ ]:
#WAP to input a number and print the factorial of it
# factorial of 5=1x2x3x4x5
# factorial of 3=1x2x3
fact=1
n=int(input("Enter a number"))
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a number45
119622220865480194561963161495657715064383733760000000000

In [ ]:
# WAP to iterate from 1 to 50.For multiples of 3 print "Fizz", for multiples of 5 print "Buzz" and for multiples of both 3 and 5 print "FizzBuzz" for other numbers print the number
# 1
# 2
# Fizz
# 4
# Buzz
# Fizz
for i in range(1,51):
  if i%3==0 and i%5==0:
    print("FizzBuzz")
  elif i%5==0:
    print("Buzz")
  elif i%3==0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
# WAP to input a number and print the sum of the digits of the number.
#567=5+6+7=18
n=int(input("Enter a number"))
sum=0 #to store the sum of digits
while n>0: #567>0, 56>0, 5>0, 0>0
  ld=n%10 #ld=7, ld=6, ld=5%10=5
  sum=sum+ld #0=0+7=7+6=13+5=18
  n=n//10 #n=56, n=5, n=0
print("sum=",sum)

Enter a number567
sum= 18

In [ ]:
#Write a program to input a number and check if the number if spy number or not
#A number is said to be a spy number is the sum of the digits = product of the digits
#1124= 1+1+2+4=8 1X1X2X4=8
n=int(input("Enter a number"))
sum=0
pro=1
while n>0:
  ld=n%10
  sum=sum+ld
  pro=pro*ld
  n=n//10
print(sum)
print(pro)
if sum==pro:
  print("spy number")
else:
  print("not a spy number")

Enter a number1214
8
8
spy number

In [ ]:
# WAP to input a number and print the product of the digits of the number.
#567=5*6*7
# WAP to input a number and print the sum of the digits of the number.
#567=5+6+7=18
n=int(input("Enter a number"))
pro=1 #to store the sum of digits
while n>0: #567>0, 56>0, 5>0, 0>0
  ld=n%10 #ld=7, ld=6, ld=5%10=5
  pro=pro*ld #0=0+7=7+6=13+5=18
  n=n//10 #n=56, n=5, n=0
print("product of the digits =",pro)

Enter a number34
product of the digits = 12

In [ ]:
# WAP to input a number and check if the number is Duck number or not
#Duck number is a positive number that has zeros in it but not in the beginning
#1234=not duck
#0435=not duck
#87604=duck
n=input("enter a number")
if n[0]=='0':
  print("Not duck")
else:
  if '0' in n:
    print("duck")
  else:
    print("Not duck")

enter a number0765087
Not duck

In [ ]:
n=input("enter a number")
if not n.isdigit() or int(n)<=0:
  print("Enter a positive number")
elif n[0]=='0':
  print("Not duck")
elif '0' in n:
    print("duck")
else:
    print("Not duck")

enter a number-675
Enter a positive number

In [ ]:
# # # # #
# # # # #
# # # # #
# # # # #
# 4 rows and 5 columns
for i in range(10): #rows 0,1
  for j in range(8): #columns 0,1
    print("@", end=" ")
  print() #go to the next line

@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @

In [ ]:
#      0-1
# #     1-2
# # #    2-3
# # # #  3-4
# # # # #   4-5
for i in range(5): #rows 0
  for j in range(i+1):
    print("#", end=" ")
  print()

#
# #
# # #
# # # #
# # # # #

In [ ]:
for i in range(1,6): #rows 1
  for j in range(i):
    print("#", end=" ")
  print()

#
# #
# # #
# # # #
# # # # #

In [ ]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
for i in range(9): #0,1
  for j in range(i+1): #0,1
    print(j+1,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [ ]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5
for i in range(9):
  for j in range(i+1):
    print(i+1, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
#WAP to input a number and check if the number is special or not
#special number- the sum of the factorial of the number = number
#145=1!+4!+5!, 5!=1x2x3x4x5
n=int(input("Enter a number"))
copy=n #145
sum=0
while n>0: #0
  ld=n%10 #1
  fact=1
  for i in range(1,ld+1):
    fact=fact*i #1
  sum=sum+fact #120+24=144+1=145
  n=n//10 #0
if sum==copy:
  print("Special number")
else:
  print("Not a special number")

Enter a number145
Special number

In [ ]:
def greet():
  print("Hello welcome to python")
  print("Happy learning")

def sum1(x,y):
  sum=x+y
  print("sum=",sum)

def area(x):
  area_of_square=x*x
  return area_of_square


greet()
sum1(3,7)
greet()
sum1(100,99)
a=area(5)
print(a)
x=int(input("Enter a number"))
a=area(x)
print(a)

Hello welcome to python
Happy learning
sum= 10
Hello welcome to python
Happy learning
sum= 199
25
Enter a number6
36

In [ ]:
# Write a program using function to input the length and breadth of a rectangle and find its area and perimeter
def area(l,b):
  print(l*b)
def peri(l,b):
  print(2*(l+b))
l=int(input("Enter the length of the rectangle"))
b=int(input("Enter the breadth of the rectangle"))
area(l,b)
peri(l,b)

Enter the length of the rectangle7
Enter the breadth of the rectangle7
49
28

In [ ]:
# Write a program using function to input a number and check if it is prime or not
def prime(n):
  count=0
  for i in range(1,n+1):
    if(n%i==0):
      count=count+1
  if count==2:
    print("Prime")
  else:
    print("not Prime")
n=int(input("Enter a number"))
prime(n)
prime(45)
prime(98)
prime(65)

Enter a number38
not Prime
not Prime
not Prime
not Prime

In [ ]:
# Write a program to input 3 numbers and print the largest among the three numbers using if else
n1=int(input("Enter a number"))
n2=int(input("Enter a number"))
n3=int(input("Enter a number"))

#3,4,5
if n1>n2 and n1>n3:
  print(n1)
elif n2>n1 and n2>n3:
  print(n2)
else:
  print(n3)

Enter a number3
Enter a number5
Enter a number4
5

In [ ]:
#Write a program to input the age of a person and check if the person is eligible for voting
n1=int(input("Enter you age"))
if n1>=18:
  print("Eligible for voting")
else:
  print(" not Eligible for voting")

Enter you age45
Eligible for voting

In [ ]:
#Write a program to input a character and check if it is a vowel or not using function
def vowelorconsonant(x):
  if (x =="a" or x =="e" or x =="i" or x =="o" or x =="u"):
    print("vowel")
  else:
    print("consonant")

c=input("enter a character")
vowelorconsonant(c.lower())

enter a characterT
consonant

In [ ]:
#Write a program to print all the numbers divisible by both 3 and 5 in the range 1000 to 5000
for i in range(1000,5001):
  if i%3==0 and i%5==0:
    print(i, end=" ")

1005 1020 1035 1050 1065 1080 1095 1110 1125 1140 1155 1170 1185 1200 1215 1230 1245 1260 1275 1290 1305 1320 1335 1350 1365 1380 1395 1410 1425 1440 1455 1470 1485 1500 1515 1530 1545 1560 1575 1590 1605 1620 1635 1650 1665 1680 1695 1710 1725 1740 1755 1770 1785 1800 1815 1830 1845 1860 1875 1890 1905 1920 1935 1950 1965 1980 1995 2010 2025 2040 2055 2070 2085 2100 2115 2130 2145 2160 2175 2190 2205 2220 2235 2250 2265 2280 2295 2310 2325 2340 2355 2370 2385 2400 2415 2430 2445 2460 2475 2490 2505 2520 2535 2550 2565 2580 2595 2610 2625 2640 2655 2670 2685 2700 2715 2730 2745 2760 2775 2790 2805 2820 2835 2850 2865 2880 2895 2910 2925 2940 2955 2970 2985 3000 3015 3030 3045 3060 3075 3090 3105 3120 3135 3150 3165 3180 3195 3210 3225 3240 3255 3270 3285 3300 3315 3330 3345 3360 3375 3390 3405 3420 3435 3450 3465 3480 3495 3510 3525 3540 3555 3570 3585 3600 3615 3630 3645 3660 3675 3690 3705 3720 3735 3750 3765 3780 3795 3810 3825 3840 3855 3870 3885 3900 3915 3930 3945 3960 3975 3990 4005 4020 4035 4050 4065 4080 4095 4110 4125 4140 4155 4170 4185 4200 4215 4230 4245 4260 4275 4290 4305 4320 4335 4350 4365 4380 4395 4410 4425 4440 4455 4470 4485 4500 4515 4530 4545 4560 4575 4590 4605 4620 4635 4650 4665 4680 4695 4710 4725 4740 4755 4770 4785 4800 4815 4830 4845 4860 4875 4890 4905 4920 4935 4950 4965 4980 4995

In [ ]:
#Write a program to input a number and print the corresponding day of the week
#1=Monday
#2=Tuesday...#7=Sunday
#anyother number enter a number between 1 and 7
n=int(input("Enter a number between 1 and 7"))
if n==1:
  print("Monday")
elif n==2:
  print("Tuesday")
elif n==3:
  print("Wednesday")
elif n==4:
  print("Thursday")
elif n==5:
  print("Friday")
elif n==6:
  print("Saturday")
elif n==7:
  print("sunday")
else:
  print("Please enter a number between 1 and 7")

Enter a number between 1 and 710
Please enter a number between 1 and 7